body {
	background:  #D9E4EF;
	margin: 0;
	padding: 0;
	font-family: Tahoma;
	color: #333333;
}
.wrapper {
	margin-left: 5%;
	margin-right: 5%;
}
h1 {
	font-size: 24px;
	margin: 0;
	padding: 5px 0 3px 10px;
}
h2 {
	font-size: 18px;
	margin: 0;
	padding: 5px 0 3px 10px;
}
h3 {
	font-size: 15px;
	margin: 0;
	padding: 0 0 0 10px;
}
p {
	margin: 0;
	padding: 3px 10px 0 10px;
	font-size: 12px;
}
.blockheader {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: #007ABE;
	border: 1px solid #417394;
	padding: 0.5em 1em;
	text-align: center;
	color: #FFFFFF;
}
.blockbody {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: #F3F3F3;
	border: 1px solid #417394;
	padding: 0.5em 1em;
	font-size: 10pt;
  font-weight: normal;
	color: #000000;
}
#footer {
	width: 760px;
	height: 56px;
	margin: 0 auto 0 auto;
	padding:  12px 15px 0 0;
}
#footer p{
	color: #000000;
	margin: 0;
	text-align: center;
	padding: 12px 15px 0 0;
}
#footer a { 
    color:#000000;
    text-decoration: none;
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:500);
/* 2f4b87 */
/* 2f4b87 */
/* #1f325d */
/* Menu CSS */
#cssmenu {
  width: 100%;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #00295c;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#cssmenu ul {
  z-index: 9999;
  position: fixed;
  width: 99.9%;
  margin: 0;
  background: #d9e4ef;
  border-radius: 3px;
  border: 1px solid #2b4479;
  border: 1px solid #b5cbe0;
  -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}
#cssmenu ul > li {
  float: left;
  list-style: none;
}
#cssmenu ul > li > a {
  display: block;
  text-decoration: none;
  padding: 8px 18px;
  position: relative;
}
#cssmenu ul > li > a:hover {
  background: #b5cbe0;
  -webkit-box-shadow: inset 0 0 1px #91b1d1;
  -o-box-shadow: inset 0 0 1px #91b1d1;
  -moz-box-shadow: inset 0 0 1px #91b1d1;
  -ms-box-shadow: inset 0 0 1px #91b1d1;
  box-shadow: inset 0 0 1px #91b1d1;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
#cssmenu ul > li > a:hover:before {
  content: '';
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  opacity: .2;
}
#cssmenu ul > li > a:hover:after {
  content: '';
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: -1px;
  opacity: .2;
}
#cssmenu > ul > li > ul {
  top: 32px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
#cssmenu > ul > li > ul {
  width: 200px;
  position: absolute;
}
#cssmenu > ul > li > ul > li {
  float: none;
  position: relative;
}
#cssmenu > ul > li > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
#cssmenu > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  position: absolute;
}
#cssmenu > ul > li > ul > li > ul {
  left: 200px;
  top: 1px;
  width: 200px;
}
#cssmenu > ul > li > ul > li > ul > li {
  float: none;
}
